*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
   
}
.box{
    height: 70px;
    background-color: rgba(0, 0, 0, 0.856);
}



/* aside di sinistar */
.aside{
    min-width:50px;
    max-width:50px;
    height: calc(100vh - 60px);
    background-color: black;
    /* z-index: 200; */
}
.header{
    width:calc(100% - 50px);
    height: 75px;
    background-color:rgba(0, 0, 0, 0.4);
    position: fixed;
    line-height: 75px;
    text-align: right;
}


@media screen and (min-width:576px) {
    .aside{
        min-width:230px;  
    }
    .header{
        width:calc(100% - 230px);
        height: 75px;
        background-color:rgba(0, 0, 0, 0.5);
       
        line-height: 75px;
        text-align: right;
    }



}
/* .box-left{
    height: calc(100vh - 90px);
    background-color: black;
    z-index: 200;
} */
.box-main{
    height: calc(100vh - 60px);
    background-color: rgb(15, 10, 83);
    overflow: auto;
    flex-shrink: 2;

}


/* header del main */

.upgrade-container{

        /* display: flex;
        justify-content: flex-end;
        /* width: 82%; */
} */
.upgrade{
    color: white;
}
.effettua{
    
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 25px;
    margin-right: 20px;
}
.upgrade a{
    text-decoration: none;
  
} 



/* nav del main */
.nav{
    height: 50px;
    color: white;
    width: 100%;
    line-height: 50px;
    margin-top: 75px;
   

    
}
h4{
    text-transform: uppercase;
    font-size: 9px;
    text-align: center;
  
    
    
}



/* titolo del main */

.title-main{
    margin-left: 2%;
    color: white;
}
.descrizione-title{
    color: gray;
    font-size: 11px;
    margin-left: 2%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
/* inizio immagini e descrizioni main */

.foto-main{
    margin-top: 4%;
    height: 150px;
    background-color: rgb(15, 10, 83);
    position: relative;
    margin-left: 10px;
    
    
   
}

.cover-layover{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: transparent;
    


}



.cover-layover:hover i{
    color: white;
    font-size: 50px;
    
}
.ultima{
    margin-right: 10px;
}
.immagine-main{
    height: 100%;
    width: 100%;
    min-width: 100%;
    
}
.desc-main{
    height: 70px;
    background-color: rgb(15, 10, 83);
    color: white;
    text-align: center;
    
}
h3{
    margin-top: 4%;
    font-size: 13px;
}
h6{
    margin-top: 3%;
    color: gray;  
}
.stranger{
    max-width: 90%;
    margin-left: 5%;
}


/* colonna di sinistra */
.debug .upper-sidebar,
.debug .lower-sidebar{
    width:100%;
}

.debug .lower-sidebar{
    height:90px;
    
    flex-shrink: 1;
}

/* Sidebar */

.sidebar-container{
    min-height:480px;
    height: calc(100vh - 90px);
    color:#fff;
}

.upper-sidebar{
    height: calc(100% - 90px);
}

.logo img{
    width:60%;
    padding: 6%;
}

/* Sidebar debug part */

.debug .logo{
    width:100%;
    background-color: #000;
}





.temp-height{
    overflow-y: auto;
    height:80%;
   
}

/* parte centrale della colonna */
li{
    list-style: none;
    padding-top: 6%;
    font-size: 13px;
}
.li-gray{
    color: gray;
}
.play{
    font-size: 14px;
}

.playlist-menu{
    overflow:hidden;
    height:70%;
    /* min-height:400px; */
    margin-left: 8%;
    padding-top: 6%;
}

.sidebar-menu{
 margin-left: 8%;
 padding-top: 5%;
    

}


.grigio{
    padding: 6px;
    background-color:gray ;

}


/* parte bassa della colonna di sinistra */
.riga-lower{
    width: 80%;
    margin-left: 5%;
    margin: 5%;

}
.installa{
    margin-left: 8%;
}



/* footer */
 


.footer-box{
    width: 100%;
    height: 60px;
    background-color: rgba(32, 32, 32, 0.993);
    display: flex;
    justify-content: space-between;
    
 
    
}


.footer-left{
    
    height:60px;
    background-color: red;

  
    
}

/* footer-left */
 .sinister{
    height: 30px;
   
    margin-left: 10px;
    margin-top: 15px;


}
.text-sinister{
    font-size: 10px;
    
   
    
    
}

 
