*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    overflow: hidden;
   
}
.box{
    height: 70px;
    background-color: rgba(0, 0, 0, 0.856);
}



/* aside di sinistar */
.aside{
    min-width:50px;
    max-width:50px;
    height: calc(100vh - 60px);
    background-color: black;
    overflow: auto;
    
}
.box-left{
    margin-left:10px
}
.li-lista{
    font-size:10px;
    margin-top:10px
}
.li-gray{
    font-size:10px;

}
.li-top1{
    margin-top:10px
    
}
.li-top2{
    margin-top:10px;
    
      
}
.logo{
   width:117%;
}
.header{
    width:calc(100% - 50px);
    height: 75px;
    background-color:rgba(0, 0, 0, 0.4);
    position: fixed;
    line-height: 75px;
    text-align: right;
}


@media screen and (min-width:576px) {
    .aside{
        min-width:191px;  
    }
    .header{
        width:calc(100% - 230px);
        height: 75px;
        background-color:rgba(0, 0, 0, 0.5);
       
        line-height: 75px;
        text-align: right;
    }



}

.box-main{
    height: calc(100vh - 60px);
    background-color: rgb(15, 10, 83);
    
    overflow-x: hidden;
    overflow-y:auto;
    
    

}



/* header del main */


.upgrade{
    color: white;
}
.effettua{
    
    text-transform: uppercase;
    color: white;
    font-size: 10px;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 25px;
    margin-right: 20px;
}
.upgrade a{
    text-decoration: none;
  
} 



/* nav del main */

.menu-list li{
    display:inline-block ;
    margin: 0 10px;
    
}
.main-content-menu{
    padding-top:75px;
    text-align: center;
    padding-bottom: 30px;
    
    
}

@media screen  and (max-width:670px) {
    .menu-list li{
        font-size: 9px;
    }
    
}

.menu-list li a{
   color: gray;
   text-decoration: none;
   
    
}






/* titolo del main */




.cover-container{
    width:100%;
    padding:15px;
    position: relative;
    display: flex;
}
.cover-container img{
    width:100%;
    margin: 0 10px;
}
.title{
    margin-left:5% ;
    color: white;
    
}
.cover-text{
    text-align: center;
    color: white;
}
.titolino-foto{
    font-size: 12px;
}
.sottotitolo{
    color: gray;
    font-size: 10px;
}


.cover-layover{
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: transparent;
    


}
.cover-layover:hover i{
    color: white;
    font-size: 50px;
    
}

.create{
    margin-top:30px;
    margin-bottom: 20px;
}


.gray{
    color: gray;
    font-size: 12px;
}
.popular{
    margin-top:30px;
}







.cover-layover:hover i{
    color: white;
    font-size: 50px;
    
}
.ultima{
    margin-right: 10px;
}
.immagine-main{
    height: 100%;
    width: 100%;
    min-width: 100%;
    
}
.desc-main{
    height: 70px;
    background-color: rgb(15, 10, 83);
    color: white;
    text-align: center;
    
}
h3{
    margin-top: 4%;
    font-size: 13px;
}
h6{
    margin-top: 3%;
    color: gray;  
}
.stranger{
    max-width: 90%;
    margin-left: 5%;
} */


/* colonna di sinistra */
.debug .upper-sidebar,
.debug .lower-sidebar{
    width:100%;
}

.debug .lower-sidebar{
    
    
    flex-shrink: 1;
}

/* Sidebar */

.sidebar-container{
    min-height:480px;
    height: calc(100vh - 90px);
    color:#fff;
}

.upper-sidebar{
    height: calc(100% - 90px);
}

.logo img{
    width:60%;
    padding: 6%;
}

/* Sidebar debug part */

.debug .logo{
    width:100%;
    background-color: #000;
}





.temp-height{
    overflow-y: auto;
    height:80%;
   
}

/* parte centrale della colonna */
li{
    list-style: none;
    padding-top: 6%;
    font-size: 13px;
}
.li-gray{
    color: gray;
}
.play{
    font-size: 14px;
}

.playlist-menu{
    overflow:hidden;
    height:70%;
    /* min-height:400px; */
    margin-left: 8%;
    padding-top: 6%;
}

.sidebar-menu{
 margin-left: 8%;
 padding-top: 5%;
    

}


.grigio{
    padding: 6px;
    background-color:gray ;

}


/* parte bassa della colonna di sinistra */
.riga-lower{
    width: 80%;
    margin-left: 5%;
    margin: 5%;

}
.installa{
    margin-left: 8%;
    min-width: 106px;
display: inline-block;
}



/* footer */
 


/* .footer-box{
    width: 100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    zindex:200;
    flex-wrap: nowrap;
 
    
}


.footer-left{
    
    height:60px;
    

    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    
}

/* footer-left */
 /* .sinister{
    height: 30px;
   
    margin-left: 10px;
    


} */
/* .text-sinister{
    font-size: 8px;
    color: white;
    padding-left: 5px;
   
    
    
}
#brano{
    font-size: 7px;
    color: gray;
    

} */
/* .cuore{
    margin-left:20px;
    margin-right: 8px;
    color: gray;
    font-size: 12px;
}
.folder{
    color: gray;
    font-size:12px;
} */


/* parte centrale footer */
/* .footer-center{
    display:flex;
    align-items: center;
    margin-right:180px;
    flex-wrap:nowrap;
    

} */
/* #barra {
    width: 250px;
    height: 4px;
    margin-top:16px;
    
    background-color: gray;
    border-radius: 10px;
    
} */
/* #caricamento-barra {
    height: 4px;
    background-color: white;
    width: 20%;
    border-radius: 10px;
    
} */
/* .inizio-tempo{
    color: white;
    margin-right: 10px;
    font-size:9px;
    margin-top: 15px;
    
    
    
   
} */
/* .fine-tempo{
    color: white;
    margin-left: 10px;
    font-size:9px;
    margin-top: 15px;
} */

/* .icone-footer{
    color:white;
    margin-bottom:25px;
    align-self: center;
    padding-left: 150px;
    margin-right: -210px;
    margin-left:40px;
    
    
}
.random{
    padding-left:80px;
}
.play{
    font-size:20px;
    margin: 0 40px;
}
.cerchio{
    margin-right:-6px;
} */


/* footer-right */

/* .footer-right{
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;

    
    
} */
/* .icone-footer-right{
    font-size:10px;
    color:white;
}
.computer{
    margin: 0 10px;
} */
/* #barra-right {
    width: 110px;
    height: 4px;
    margin-left: 10px;
    
    
    background-color: gray;
    border-radius: 10px;
    
} */
/* #caricamento-barra-right {
    height: 4px;
    background-color: white;
    width: 20%;
    border-radius: 10px;
    
}  */

/* footer */

/* parte sinistra del footer */
footer{
    /* width: 100%; */
    height: 60px;
    
    position: fixed;
    bottom: 0;
    left:0;
    z-index:2;
    width:100%;
    color:white;
    background-color: #282828;
}
footer i{
    color: white;
    margin:0 5px;
}
.player-album-cover{
    width:10%;

}

.player-album-cover img{
    width: 100%;
}
.player-album-title{
    margin-left:3% ;
    margin-right:10% ;

}
.player-album-title h2{

    font-size: 12px;
}
.player-album-title p{
    font-size: 12px; 
    color: gray; 
}


.player-sinistro{
   padding:10px; 
}

/* parte centrale del footer */
.player-bar{
    width:200px;
    height:4px;
    border-radius:4px;
    background-color:rgba(255, 255, 255, 0.3);
    cursor:pointer;
    

}

@media screen and (max-width:450px) {
    .player-bar{
        width: 100px;
    }
    .player-top i{
        font-size:9px;
    }
    
}
.player-top{
    text-align: center;
    margin-top:5px;
    
}
.player-top i{
    margin-top:2%;
}
.play-center{
    height:60px;
    
}
.player-time{
    margin: 0 5px;
    font-size:12px
}
.player-bottom{
margin-bottom: 5px;
flex-wrap:nowrap;
}


/* footer parte destra */

.piccola{
    width:100px;
}
.player-destro{
    padding:10px;
    height: 60px;
}
@media screen and (max-width:655px) {
    .piccola{
        width:50px;

    }
    .player-destro i{
        font-size:9px;
    }
    
}
@media screen and (min-width:1200px) {
  .player-top i{
      margin-top:0;
  } 
  .player-time{
      margin:0 10px;
  } 
    
}

 
